<main class="container flex">
  <div class="containerTop">
    <!-- partie du haut -->

    <div class="topLeft">
      <div class="window flex item-a">
        <div class="top flex">
          <div class="circles flex">
            <div class="circle red"></div>
            <div class="circle yellow"></div>
            <div class="circle green"></div>
          </div>
          <div class="tab">
            <div id="ico">
              <img id="logo" src="../../assets/logoP.svg" alt="" />
            </div>
            <span id="span">À propos</span>
          </div>
        </div>
        <section class="imageBox flex">
          <img
            src="../../assets/moi.png"
            alt="photo d'Azraël Landres avec bordure ondulé orange"
          />
          <h2>Azraël Landres</h2>
        </section>
      </div>
    </div>
    <!-- partie droite du haut  -->
    <div class="topRight flex">
      <div class="tLeft">
        <div class="window flex item-b">
          <div class="top flex">
            <div class="circles flex">
              <div class="circle red"></div>
              <div class="circle yellow"></div>
              <div class="circle green"></div>
            </div>
            <div class="tab">
              <div id="ico">
                <img id="logo" src="../assets/logoP.svg" alt="" />
              </div>
              <span id="span">À propos</span>
            </div>
          </div>
          <section class="tLeftBottom">
            <h2>Logiciels</h2>
            <article class="tags flex">
              <div class="tag blue">Photoshop</div>
              <div class="tag orange">Illustrator</div>
              <div class="tag pink">Figma</div>
              <div class="tag blue">Jira</div>
            </article>
          </section>
        </div>
      </div>
      <div class="tRight">
        <div class="window flex item-c">
          <div class="top flex">
            <div class="circles flex">
              <div class="circle red"></div>
              <div class="circle yellow"></div>
              <div class="circle green"></div>
            </div>
            <div class="tab">
              <div id="ico">
                <img id="logo" src="../assets/logoP.svg" alt="" />
              </div>
              <span id="span">À propos</span>
            </div>
          </div>
          <section class="tRightBottom">
            <h2>Où me retrouver</h2>
            <article class="links flex">
              <div class="link flex">
                <a
                  href="https://www.linkedin.com/in/azraellandres/"
                  target="_blank"
                  ><img
                    class="icon"
                    src="../../assets/linkedin.svg"
                    alt="icone linkedin"
                /></a>
              </div>
              <div class="link flex">
                <a href="https://www.behance.net/azrallandres" target="_blank"
                  ><img
                    class="icon"
                    src="../../assets/behance.svg"
                    alt="icone behance"
                /></a>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>

  <!-- partie du bas -->

  <div class="containerBottom flex">
    <div class="bottomLeft">
      <div class="window flex item-d">
        <div class="top flex">
          <div class="circles flex">
            <div class="circle red"></div>
            <div class="circle yellow"></div>
            <div class="circle green"></div>
          </div>
          <div class="tab">
            <div id="ico">
              <img id="logo" src="../assets/logoP.svg" alt="" />
            </div>
            <span id="span">À propos</span>
          </div>
        </div>
        <section class="bottomLeftBottom">
          <h2>Compétences</h2>

          <article class="tags flex">
            <div class="tag yellowTag">Javascript</div>
            <div class="tag blue">TypeScript</div>
            <div class="tag orange">Html & CSS</div>
            <div class="tag blue">Java</div>
            <div class="tag blue">SQL</div>
            <div class="tag redTag">Angular</div>
            <div class="tag greenTag">Spring</div>
            <div class="tag purpleTag">Linux</div>
            <div class="tag orange">Git</div>
            <div class="tag yellowTag">Wordpress</div>
          </article>
        </section>
      </div>
    </div>
    <div class="bottomRight">
      <div class="window flex item-e">
        <div class="top flex">
          <div class="circles flex">
            <div class="circle red"></div>
            <div class="circle yellow"></div>
            <div class="circle green"></div>
          </div>
          <div class="tab">
            <div id="ico">
              <img id="logo" src="../assets/logoP.svg" alt="" />
            </div>
            <span id="span">À propos</span>
          </div>
        </div>
        <section class="bottomRightBottom">
          <h2>Qui suis-je ?</h2>

          <p>
            Eius voluptas sapiente aut praesentium omnis voluptatem. Vero odit
            distinctio consectetur veritatis. Harum voluptatum eaque. Cumque
            laborum animi eaque porro enim. Unde amet enim et molestiae porro
            tenetur possimus. Eos reiciendis deserunt minima soluta fuga
            delectus porro ut. Perspiciatis blanditiis rem. Similique optio
            voluptates eligendi ipsa voluptatem omnis sunt.
          </p>
        </section>
      </div>
    </div>
  </div>
</main>
