.container {
  flex-direction: column;
}

.containerTop,
.containerBottom {
  width: 100%;
  height: 50%;
}

.item-a {
  width: 80%;
  margin: 1rem auto;
}
.imageBox {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
}

img {
  width: 8rem;
}

.topRight {
  flex-wrap: wrap;
}

.tRight,
.tLeft {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tLeftBottom,
.tRightBottom,
.bottomLeftBottom,
.bottomRightBottom {
  padding: 1rem;
}
.tLeftBottom h2,
.tRightBottom h2,
.containerBottom h2 {
  margin: 1rem 0;
}
.links {
  gap: 1rem;
  flex-wrap: wrap;
}

.link {
  cursor: pointer;
}
.icon {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
  transition: 0.2s;
}

.icon:hover {
  transform: scale(1.2);
}
.item-c {
  width: min-content;
}
.containerBottom {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: var(--black);
}

.circles {
  width: 25%;
}

.circle {
  height: 0.75rem;
  width: 0.75rem;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
  }

  .topRight {
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 970px) {
  .container {
    flex-direction: column;
  }

  .containerTop {
    display: flex;
    width: 100%;
  }

  .topLeft {
    width: 30%;
  }

  .topRight {
    width: 70%;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .tLeft,
  .tRight {
    width: 100%;
  }
  .containerBottom {
    flex-direction: row;
  }

  .bottomLeft,
  .bottomRight {
    width: 50%;
  }

  .item-b,
  .item-d,
  .item-e {
    width: 90%;
  }
}

@media (min-width: 1080px) {
  .container {
    width: 80%;
    margin: 1rem auto;
  }
  .containerTop {
    display: flex;
    width: 100%;
  }

  .topLeft {
    width: 35%;
  }

  .topRight {
    width: 70%;
    gap: 1rem;
  }

  .item-b {
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .tag {
    font-weight: 600;
    font-size: 0.75rem;
    border-radius: 50px;
    width: fit-content;
    padding: 0.4rem 1rem;
  }

  .circle {
    border-radius: 50%;
  }
  .circles {
    width: 28%;
  }

  .item-d,
  .item-e {
    width: 90%;
  }

  .item-b,
  .item-c {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 70%;
  }
  .topLeft {
    width: 25%;
  }

  .topRight {
    gap: 2rem;
  }

  .tag {
    font-size: 1rem;
    padding: 0.4rem 2rem;
  }

  .item-d {
    margin-top: 1rem;
  }
}

@media (min-height: 600px) {
  .item-b {
    margin-top: 7rem;
    margin-left: 2.5rem;
  }

  .item-c {
    width: 80%;
  }
}
