<div class="window flex">
  <div class="top flex">
    <div class="circles flex">
      <div class="circle red"></div>
      <div class="circle yellow"></div>
      <div class="circle green"></div>
    </div>
    <div class="tab">
      <div id="ico"><img id="logo" src="../../assets/logoP.svg" alt="" /></div>
      <span id="span">404</span>
    </div>
  </div>

  <div class="bottom">
    <img id="img404" src="../../assets/404.svg" alt="404" />
    <button class="btn orange">Retour</button>
  </div>
</div>
