<header>
  <div class="nav">
    <input type="checkbox" id="nav-check" />
    <div class="nav-header">
      <div class="nav-title">
        <img routerLink="home" src="../../assets/logoP.svg" />
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a routerLink="home">Accueil</a>
      <a routerLink="portfolio">Portfolio</a>
      <a routerLink="about">À propos</a>
      <a routerLink="contact">Contact</a>
    </div>
  </div>
</header>
