<!--<header>
  <div class="nav">
    <input type="checkbox" id="nav-check" />
    <div class="nav-header">
      <div class="nav-title">
        <img routerLink="home" src="../../assets/logoP.svg" />
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a (click)="toggle()" routerLink="home">Accueil</a>
      <a (click)="toggle()" routerLink="portfolio">Portfolio</a>
      <a (click)="toggle()" routerLink="about">À propos</a>
      <a (click)="toggle()" routerLink="contact">Contact</a>
    </div>
  </div>
</header>-->

<nav id="nav">
  <div class="img">
    <img routerLink="home" src="../../assets/logoP.svg" alt="logo AZL" />
  </div>

  <div class="links">
    <a (click)="navFunc()" routerLink="home">Accueil</a>
    <a (click)="navFunc()" routerLink="portfolio">Portfolio</a>
    <a (click)="navFunc()" routerLink="about">À propos</a>
    <a (click)="navFunc()" routerLink="contact">Contact</a>
  </div>
  <div id="icons" (click)="navFunc()"></div>
</nav>
