a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--darkPurple);
}

nav {
  font-size: 1.1rem;
  height: 50px;
  width: 80%;
  margin: 1rem auto;
  background-color: white;
  position: relative;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 0px rgb(223, 223, 223);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .img {
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 2.5rem;
}
nav .links {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1.5rem;
}

#icons {
  cursor: pointer;
  display: none;
}

@media (max-width: 600px) {
  #icons {
    display: block;
    margin-right: 1.5rem;
  }

  #icons::before {
    content: url("../../assets/menuOpen.svg");
  }

  .active #icons::before {
    content: url("../../assets/menuClose.svg");
  }

  nav .links {
    display: none;
    transition: 1s;
  }
  .links a {
    margin-left: 1rem;
    padding: 3px 0;
  }

  nav.active .links {
    display: flex;
    top: 4.125rem;
    padding: 1rem;
    position: fixed;
    border-radius: 20px;
    flex-direction: column;
    background-color: white;
    width: 80%;
    align-items: start;
    box-shadow: 0px 0px 10px 0px rgb(223, 223, 223);
  }
}
