<div class="window flex">
  <div class="top flex">
    <div class="circles flex">
      <div class="circle red"></div>
      <div class="circle yellow"></div>
      <div class="circle green"></div>
    </div>
    <div class="tab">
      <div id="ico"><img id="logo" src="../../assets/logoP.svg" alt="" /></div>
      <span id="span">Portfolio</span>
    </div>
  </div>

  <div class="bottom">
    <h2 class="title purpleTag">Développement</h2>
    <div class="slider">
      <div class="cardContainer">
        <div class="cardImg">
          <!--<img src="" alt="placeholder" /> -->
        </div>
        <h3>Nom projet</h3>
        <div class="tagContainer">
          <span class="tag redTag">Angular</span>
          <span class="tag blue">TypeScript</span>
          <span class="tag orange">HTML5 & CSS3</span>
        </div>
      </div>

      <div class="cardContainer">
        <div class="cardImg">
          <!--<img src="" alt="placeholder" /> -->
        </div>
        <h3>Nom projet</h3>
        <div class="tagContainer">
          <span class="tag redTag">Angular</span>
          <span class="tag blue">TypeScript</span>
          <span class="tag orange">HTML5 & CSS3</span>
        </div>
      </div>

      <div class="cardContainer">
        <div class="cardImg">
          <!--<img src="" alt="placeholder" /> -->
        </div>
        <h3>Nom projet</h3>
        <div class="tagContainer">
          <span class="tag redTag">Angular</span>
          <span class="tag blue">TypeScript</span>
          <span class="tag orange">HTML5 & CSS3</span>
        </div>
      </div>
    </div>

    <h2 class="title purpleTag">Design</h2>
    <div class="slider">
      <div class="cardContainer">
        <div class="cardImg">
          <!--<img src="" alt="placeholder" /> -->
        </div>
        <h3>Nom projet</h3>
        <div class="tagContainer">
          <span class="tag redTag">Angular</span>
          <span class="tag blue">TypeScript</span>
          <span class="tag orange">HTML5 & CSS3</span>
        </div>
      </div>
    </div>
  </div>
</div>
