<div class="window flex">
  <div class="top flex">
    <div class="circles flex">
      <div class="circle red"></div>
      <div class="circle yellow"></div>
      <div class="circle green"></div>
    </div>
    <div class="tab">
      <div id="ico"><img id="logo" src="../../assets/logoP.svg" alt="" /></div>
      <span id="span">Accueil</span>
    </div>
  </div>

  <div class="bottom flex">
    <h1>Bienvenue sur mon portfolio !</h1>
    <p>
      Je suis Azraël Landres, un professionnel du design et du développement
      full stack. Explorez mes projets et découvrez comment j’allie créativité
      et technologie ! <br /><br />Pour plus d’informations n’hésitez pas à me
      contacter.
    </p>
    <div class="btnContainer">
      <a routerLink="/portfolio" class="btnn">
        <h2 class="btn_title">Portfolio</h2>
        <img src="../../assets/fond_btn.svg" alt="" class="btn_bg-img" />
        <span class="btn_bg"></span>
      </a>
      <a routerLink="/contact" class="btnn btnnWhite">
        <h2 class="btn_title titleWhite">Contact</h2>
        <img
          src="../../assets/fond_btn.svg"
          alt=""
          class="btn_bg-img reverse"
        />
        <span class="btn_bg purple"></span>
      </a>
    </div>
  </div>
</div>
