<div class="window flex">
  <div class="top flex">
    <div class="circles flex">
      <div class="circle red"></div>
      <div class="circle yellow"></div>
      <div class="circle green"></div>
    </div>
    <div class="tab">
      <div id="ico"><img id="logo" src="../../assets/logoP.svg" alt="" /></div>
      <span id="span">Accueil</span>
    </div>
  </div>

  <div class="bottom flex">
    <h1>Bienvenue sur mon portfolio !</h1>
    <p>
      Je suis Azraël Landres, un professionnel du design et du développement
      full stack. Explorez mes projets et découvrez comment j’allie créativité
      et technologie ! <br /><br />Pour plus d’informations n’hésitez pas à me
      contacter.
    </p>
    <div class="btnContainer">
      <button class="btn empty">Portfolio</button>
      <button routerLink="../contact" class="btn purple">Contact</button>
    </div>
  </div>
</div>
